<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>회원가입 폼</title>
		<object th:include="fragments/head :: headFragment" th:remove="tag"></object>
		<!-- page resources -->
	</head>
	<body>
		<header th:replace="fragments/hedaer :: headerFragment"></header>
		<div id="wrap" class="container py-5">
			<div class="row">
		        <div class="col-md-12">
		        	<div class="col-md-6 mx-auto">
	                    <span class="anchor" id="formLogin"></span>
	                    <div class="card rounded-0">
	                        <div class="card-header">
	                            <h3 class="mb-0">회원가입</h3>
	                        </div>
	                        <div class="card-body">
	                            <form class="form" role="form" autocomplete="off" id="formLogin">
	                                <div class="form-group">
	                                    <label for="uname1">아이디</label>
	                                    <input type="text" class="form-control form-control-lg rounded-0" name="uname1" id="uname1" required="required" />
	                                </div>
	                                <div class="form-group">
	                                    <label for="password">비밀번호</label>
	                                    <input type="password" class="form-control form-control-lg rounded-0" id="pwd1" autocomplete="new-password" />
	                                </div>
	                                <div class="form-group">
	                                    <label for="password">비밀번호 확인</label>
	                                    <input type="password" class="form-control form-control-lg rounded-0" id="pwd1" autocomplete="new-password" />
	                                </div>
	                                <div>
	                                	
	                                </div>
	                                <button type="button" class="btn btn-success btn-lg float-right">로그인</button>
	                            </form>
	                        </div>
	                    </div>
	                </div>
		        </div>
	        </div>
		</div>
		<footer th:replace="fragments/footer :: footerFragment"></footer>
	</body>
</html>