<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>메인페이지</title>
		<object th:include="fragments/head :: headFragment" th:remove="tag"></object>
		<!-- page resources -->
	</head>
	<body>
		<header th:replace="fragments/hedaer :: headerFragment"></header>
		<div id="wrap" class="container py-5">
			<div class="row">
		        <div class="col-md-12">
		        </div>
	        </div>
		</div>
		<footer th:replace="fragments/footer :: footerFragment"></footer>
	</body>
</html>